body {
    background-color: rgb(247, 232, 206);
}

.item_local {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
    padding-left: 10px;
}

.item_header {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
    padding-left: 10px;
}

.item_header div {
    width: 200px;
    color: #888;
    line-height: 30px;
}

.item_header .item_detail {
    width: 50%;
}

.item_body {
    margin-top: 20px;
    height: 100px;
    align-items: center;
}

.item_detail .name {
    margin-left: 100px;
    margin-top: 20px;
}