.container-1 {
    display: flex;
    flex-direction: row;
    border-radius:10px;
}

.container-1 div {
    border: 0px #ccc solid;
    padding: 10px;
    border-radius:10px;
}

.box-1 {
    flex: 2;
    text-align:center
}

.box-2 {
    flex: 7;
}