/*text 相關*/
.blue-text {
    font-size: 36px;
    color: #4682B4;
}

.pink-text {
    font-size: 36px;
    color: #4927B3;
}

.brown-text {
    color: #8B4513;
    text-align: center;
}

.text-info-shopinfo-top {
    font-size: 18px;
    color: #ffffff;
    font-weight: bolder;
    margin: 10px 0px 10px 0px;
}

.text-info-shopinfo-down {
    font-size: 12px;
    color: #ffffff;
    margin: 3px 0px 3px 0px;
}

.thick-black-border {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}

.thin-white-border {
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
}

.thick-border {
    border-radius: 50%;
}

.smaller-image {
    width: 80px;
}

.smaller-info-image {
    width: 75px;
    /*margin: 5px 5px 5px 5px;*/
}

.bigger-image {
    width: 100px;
}

.drop-shadow {
    -webkit-filter: drop-shadow(0px 0px 12px rgba(66, 66, 66, 0.7));
    filter: drop-shadow(0px 0px 12px rgba(66, 66, 66, 0.7))
        /*drop-shadow(offset-x offset-y spread-radius color)*/
}

.input-num-width {
    width: 90px;
}

table,
.tbstyle {
    border-radius: 10px;
}

.b-t-b-button {
    background-color: #cbeaff;
    border: none;
    border-radius: 5px;
    color: rgb(74, 76, 100);
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: flexbox;
    font-size: 16px;
}

.blue-color {
    background-color: #cbeaff;
}

/*ul li 相關class*/
ul {
    list-style-type: none;

}

.box-info-shopinfo2 ul {
    padding: 0px 0px 0px 2px;
}

/*head flexbox 橫向; 按鈕 flexbox; 店家資訊 flexbox*/
.container-0 {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.container-1 {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

/*資訊照片欄位*/
.container-info {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: stretch;
    justify-content: space-around;
    background-color: #cbeaff;
}

/*info 中的 shop info container*/
.container-info-shopinfo {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
}

.container-info-shopinfo div {
    border: 1px #ccc solid;
    padding: 10px;
}

/*飲料 different kinds of drinks (DKD)flexbox*/
.container-DKD {
    /*display: flex;*/
    /*width: 1000px;*/
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: space-between;
}

.container-0 div, .container-1 div, .container-info div, .container-DKD div {
    border: 0px #ccc solid;
    padding: 10px;
    justify-content: space-between;
}

.box-h1 {
    flex: 1;
    order: 1;
    border-radius: 10px;
}

.box-h2 {
    flex: 9;
    order: 2;
    border-radius: 10px;
}

/*按鈕 flexbox*/
.box-1 {
    flex: 1;
    border-radius: 10px;
}

/*店家資訊 flexbox*/
.box-info1 {
    flex: 3;
    border-radius: 10px;
    align-self: stretch;
}

.box-info2 {
    flex: 4;
    border-radius: 10px;
    align-self: stretch;
}

.box-info-shopinfo1 {
    flex: 1;
    border-radius: 10px;
    align-self: stretch;
    padding: 5px;
}

.box-info-shopinfo2 {
    flex: 5;
    border-radius: 10px;
    align-self: stretch;
    padding: 5px;
}

/*飲料 different kinds of drinks (DKD)flexbox*/
.box-DKD {
    flex: 1;
    border-radius: 10px;
}



#header {
    background-color: #FFD4D4;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

a {
    color: #c0000030;
    font-size: 20px;

}
.heart i.fa-heart{
    color: rgb(255, 100, 100);
}
.heart{
    animation: heart 0.5s linear;
}
@keyframes heart {
    0%{
        transform: rotate(0deg) scale(1.7);
    }
    40%{
        transform: rotate(0deg) scale(1);
    }
    41%{
        transform: rotate(360deg) scale(1);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
    
}