.blue-text {
    font-size: 36px;
    color: #4682B4;
}

.pink-text {
    font-size: 36px;
    color: #4927B3;
}

.brown-text {
    color: #8B4513;
    text-align: center;
}

.thick-black-border {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}

.thick-border {
    border-radius: 50%;
}

.smaller-image {
    width: 80px;
}

.bigger-image {
    width: 100px;
}

.input-num-width {
    width: 90px;
}

table,
.tbstyle{
    border-radius: 10px;
}

.b-t-b-button {
    background-color: #cbeaff;
    border: none;
    border-radius: 5px;
    color: rgb(74, 76, 100);
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: flexbox;
    font-size: 16px;
}

.blue-color{
    background-color: #cbeaff;
}