.blue-text {
    font-size: 36px;
    color: #4682B4;
}

.pink-text {
    font-size: 36px;
    color: #4927B3;
}

.brown-text {
    color: #8B4513;
    text-align: center;
}

.thick-black-border {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}

.thick-border {
    border-radius: 50%;
}

.smaller-image {
    width: 80px;
}

.bigger-image {
    width: 100px;
}

.input-num-width {
    width: 90px;
}

table,
.tbstyle {
    border-radius: 10px;
}

.b-t-b-button {
    background-color: #cbeaff;
    border: none;
    border-radius: 5px;
    color: rgb(74, 76, 100);
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: flexbox;
    font-size: 16px;
}

.blue-color {
    background-color: #cbeaff;
}

/*head flexbox 橫向; 按鈕 flexbox; 店家資訊 flexbox*/
.container-0, .container-1, .container-info{
    display: flex;
    flex-direction: row;
    border-radius:10px
}
/*店家資訊 flexbox*/
/*飲料 different kinds of drinks (DKD)flexbox*/
.container-DKD{
    display: flex;
    flex-direction: column;
    border-radius:10px
    
}

.container-0 div, .container-1 div, .container-info, .container-DKD div{
    border:1px #ccc solid;
    padding: 10px;
}
.box-h1{
    flex: 1;
    order: 1;
}
.box-h2{
    flex: 9;
    order: 2;
}

/*按鈕 flexbox*/
.box-1{
    flex: 1;
}

/*店家資訊 flexbox*/
.box-info1{
    flex: 1;
}
.box-info2{
    flex: 2;
}

/*飲料 different kinds of drinks (DKD)flexbox*/
.box-DKD1{
    flex: 1;
}
.box-DKD2{
    flex: 1;
}
.box-DKD3{
    flex: 1;
}



#header {
    background-color: #FFD4D4;
    height: 80px;
    text-align: center;
    line-height: 80px;
}